#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        lgui7_7: lgui7_7 {
            compatible = "zmk,behavior-tap-dance";
            label = "LGUI7_7";
            #binding-cells = <0>;
            bindings = <&kp N7>, <&kp LG(N7)>;
        };

        lgui3_media: lgui3_media {
            compatible = "zmk,behavior-tap-dance";
            label = "LGUI3_MEDIA";
            #binding-cells = <0>;
            bindings = <&kp LG(NUMBER_3)>, <&to 0>, <&kp K_PLAY_PAUSE>;
        };

        DE: DE {
            compatible = "zmk,behavior-tap-dance";
            label = "DE";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp E>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";
        label = "fourpad";

        default_layer {
            label = "Default";
            bindings = <
&kp W  &kp S
&kp E  &kp SPACE
            >;
        };
    };
};
